<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags and Bootstrap CSS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!-- Custom styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/buttons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/cards.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/checklist.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/inputs.css') }}"
    />

    <!-- Title block -->
    <title>{% block title %}Home{% endblock %}</title>

    <!-- render_button macro -->
    <!-- no more copypasta! -->
    {% macro render_button(href, btn_id, btn_color, icon_name, text) %}
    <a class="nav-item nav-link" id="{{ btn_id }}" href="{{ href }}">
        <button class="Btn" style="background-color: {{ btn_color }}">
            <div class="sign">
                <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="{{ svgs[icon_name] }}"></path>
                </svg>
            </div>
            <div class="text" style="font-size: 0.9em">{{ text }}</div>
        </button>
    </a>
    {% endmacro %}    
    
    
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            {{ render_button('/logout', 'logout', '#fd0363', 'logout_svg', 'Logout') }}
            {{ render_button('/', 'home', '#cc095d', 'home_svg', 'Home') }}
            {{ render_button('/tasks_daily', 'daily', '#9c1057', 'daily_svg', 'Daily') }}
            {{ render_button('/tasks_weekly', 'weekly', '#6b1650', 'weekly_svg', 'Weekly') }}
            {{ render_button('/tasks_monthly', 'monthly', '#3b1d4a', 'monthly_svg', 'Monthly') }}
            {{ render_button('/about', 'about', '#0a2344', 'about_svg', 'About') }}
          {% else %}
            {{ render_button('/sign-up', 'signUp', '#540d6e', 'sign_up_svg', 'Register') }}
            {{ render_button('/login', 'login', '#ee4266', 'login_svg', 'Login') }}
            {{ render_button('/about', 'about', '#f6511d', 'about_svg', 'About') }}
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <!-- Error Message -->
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <!-- Success Message -->
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- Content Container -->
    <div class="container">{% block content %} {% endblock %}</div>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
