{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

<!-- Cards Section -->
<div class="container mt-5">
  <h1 class="text-center">FlyStream</h1>

  <div class="card-container d-flex justify-content-center align-items-center">
    <a href="/tasks_daily" class="card" id="daily">Daily</a>
    <a href="/tasks_weekly" class="card" id="weekly">Weekly</a>
    <a href="/tasks_monthly" class="card" id="monthly">Monthly</a>
  </div>
</div>

<!-- Blur Script -->
<script>
  document.querySelectorAll(".card").forEach((card) => {
    card.addEventListener("mouseover", function () {
      document.querySelectorAll(".card").forEach((c) => {
        if (c !== this) c.classList.add("card-blur");
      });
    });

    card.addEventListener("mouseout", function () {
      document.querySelectorAll(".card").forEach((c) => {
        c.classList.remove("card-blur");
      });
    });
  });
</script>

{% endblock %}
