{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!-- Cards Section -->
<div class="container mt-5">
  <h1 class="text-center">FlyStream</h1>

  <div class="card-container d-flex justify-content-center align-items-center">
    <div class="card" id="daily">Daily</div>
    <div class="card" id="weekly">Weekly</div>
    <div class="card" id="monthly">Monthly</div>
  </div>
</div>

{% endblock %} {% block javascript %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".card");

    cards.forEach((card) => {
      card.addEventListener("mouseover", () => {
        cards.forEach((c) => {
          if (c !== card) {
            c.style.filter = "blur(2px)";
          }
        });
      });

      card.addEventListener("mouseout", () => {
        cards.forEach((c) => {
          c.style.filter = "none";
        });
      });

      card.addEventListener("click", () => {
        const cardId = card.id;
        let redirectUrl = "";
        switch (cardId) {
          case "daily":
            redirectUrl = "/tasks_daily";
            break;
          case "weekly":
            redirectUrl = "/tasks_weekly";
            break;
          case "monthly":
            redirectUrl = "/tasks_monthly";
            break;
          default:
            redirectUrl = "/";
            break;
        }
        window.location.href = redirectUrl;
      });
    });
  });
</script>
{% endblock %}
